ul, ol{
    list-style-position: inside;
}

.grid {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
}

.grid * {
    box-sizing: border-box;
    //margin: 0;
    //padding: 0;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.ver {
    flex-direction: column;
}

.hor {
    flex-direction: row;
}

[class*='col-'] {
    //height: 50px;
    //background-color: #bada55;
    padding: 10px;
    //border: 1px solid white;
}

.col-1-12 {
    width: 8.3%;
}

.col-2-12 {
    width: 16.6%;
}

.col-3-12 {
    width: 25%;
}

.col-4-12 {
    width: 33.3%;
}

.col-5-12 {
    width: 41.6%;
}

.col-6-12 {
    width: 50%;
}

.col-7-12 {
    width: 58.2%;
}

.col-8-12 {
    width: 66.5%;
}

.col-9-12 {
    width: 75%;
}

.col-10-12 {
    width: 83.3%;
}

.col-11-12 {
    width: 91.6%;
}

.col-12-12 {
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .col-1-12 {
        width: 16.6%;
    }
    .col-11-12 {
        width: 83.3%;
    }
}

@media only screen and (max-width: 768px) {
    .row {
        flex-wrap: wrap;
    }
    .col-1-12,
    .col-2-12 {
        width: 25%;
    }
    .col-10-12,
    .col-11-12 {
        width: 75%;
    }
}

@media only screen and (max-width: 425px) {
    [class*="col-"] {
        width: 100%;
    }
}
