* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
	/*#D0E8D0*/
}

h2 {
	text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgba(51,51,51,1);
}

header {
    height: 500px;
    background: url(http://www.neale-wade.net/blog/wp-content/uploads/2009/01/100_1802.jpg) center center no-repeat;
    
    //background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border-top: 5px solid #006600;
    border-bottom: 1px solid black;

    position: relative;

    box-shadow: 0px 0px 20px #000;

	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             	 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);

    margin-bottom: 10px;
    //overflow: hidden;

}

header > .nav_bar {
    background: rgba(0, 0, 0, 0.3);

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,28343b+100&0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(35,45,50,1.0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(35,45,50,1.0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%, rgba(35,45,50,1.0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

    
}

header .nav_bar_holder{
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
	display: flex;
    align-items: flex-end;
}

header > .nav_bar h1{
    color: rgba(255,255,255,1);
    font-size: 3.5em;
    margin-bottom: 20px;
}


header > .nav_bar img {
    height: 150px;
    margin: 5px 0;
}

header .menu{
	width: 100%;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}

header a{
    text-decoration: none;
    color: white;
}

nav > .trigger {
	display: none;
	padding: 2px;
	margin-bottom: 6px;
	text-align: center;
	color: white;
	align-self: flex-end;
	margin-right: 10px;
	border-bottom: 2px solid transparent;
}

nav > .trigger:hover {
	border-bottom: 2px solid white;
}

header nav ul {
    list-style: none;
}

header nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    list-style: none;
    //flex-wrap: wrap;
    color: white;
    
}

header nav > ul > li {
    text-align: center;
    margin: 10px 0;
    border-bottom: 2px solid transparent;
    position: relative;
    z-index: 10;
}

header nav > ul > li:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
}

header nav > ul > li:hover > a{
    border-bottom: 2px solid white;
    position: relative;
    z-index: 10;
}

header nav > ul > li > ul {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    margin: -10px;
    padding: 10px;
    //margin-top: 35px; 
    width: 210px;
    z-index: 9;
    
}

header nav > ul > li > ul > li{
    text-align: left;
    margin: -20px;
    padding: 15px 20px;
    border-bottom: 2px solid transparent;
    position: relative;
    background-color: rgba(35,45,50,1.0);
}

header nav > ul > li > ul > li:first-of-type{
    margin-top: 35px;
}

header nav > ul > li:hover > ul {
    display: block;
}

/*
.filter{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	z-index: 98;

	background: linear-gradient(120deg, rgba(0, 102, 0, 0.901961) 0%, rgba(0, 102, 0, 0) 30%), linear-gradient(200deg, rgba(0, 102, 0, 0.901961) 0%, rgba(0, 102, 0, 0) 30%);
}*/

.content {
    max-width: 1130px;
    display: flex;
    margin: auto;
}

.content > div {
    //padding: 20px 10px;

}

[class*='col-'] > .container:first-of-type {
	margin-top: 0;
}

.container {
    border: 1px solid rgba(0, 102, 0, 1.0);
    margin-top: 20px;
    box-shadow: 0px 0px 10px #888888;
}

.container > h2 {
    width: 100%;
    padding: 9px 20px;
    background: #006600;
    color: white;
    font-size: 18px;
}

.container_element {
    margin: 20px;
}

.container_element > h3 {
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(208, 232, 208);
    font-size: 18px;
    color: #006600;
}

.container_element > p{
    margin-bottom: 20px;
}

.info > ul {
	list-style: none;
	width: 40%;
}

.info {
	display: flex;
	justify-content: space-between;
}

.today {
	font-weight: bold;
	//background: #006600!important;
	border: 2px solid #006600!important;
}

@media only screen and (max-width: 1024px) {
	header > .nav_bar img {
		height: 125px;
		margin: 10px 15px;
		margin-right: 5px;
	}

	header > .nav_bar h1 {
		font-size: 3em;
        padding-right: 10px;
	}
}

@media only screen and (max-width: 768px) {
	header > .nav_bar h1 {
		font-size: 3em;
	}

	nav > .desktop{
    	position: absolute;
    	width: 100%;
    	height: auto;
    	//background-color: yellow;
    	z-index: 99;
    	flex-direction: column;
    	left: 0;
    	top: 0;
    	text-align: right;
    	align-items: flex-end;
		padding-right: 10px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,28343b+100&0+0,1+100 */
background: -moz-linear-gradient(bottom,  rgba(255,255,255,0) 0%, rgba(35,45,50,1.0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(bottom,  rgba(255,255,255,0) 0%, rgba(35,45,50,1.0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to top,  rgba(255,255,255,0) 0%, rgba(35,45,50,1.0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
    }


    nav > .trigger{
    	//display: block;
    }
}

@media only screen and (max-width: 425px) {
    header nav{
    	margin-left: 10px;
    }

	header > .nav_bar h1 {
		font-size: 2em;
	}
}

@media only screen and (max-width: 350px) {
	header > .nav_bar h1 {
		font-size: 1.5em;
	}
}