<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if header.description %}
        <meta name="description" content="{{ header.description }}">
        {% else %}
        <meta name="description" content="{{ site.description }}">
        {% endif %}
        {% if header.robots %}
        <meta name="robots" content="{{ header.robots }}">
        {% endif %}
        <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png">

        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>

        {% block stylesheets %}
            {# Bootstrap core CSS #}

        {# Custom styles for this theme #}
            {% do assets.add('theme://css/grid.css',100) %}
            {% do assets.add('theme://css/style.css',100) %}
            {% do assets.addCss('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext',101) %}
            {% do assets.addCss('https://fonts.googleapis.com/css?family=Montserrat:400,700',101) %}

            {{ assets.css() }}
        {% endblock %}

        {% block javascripts %}
            {% do assets.add('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', 101) %}
            {% do assets.add('theme://js/bootstrap.min.js') %}

            {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
                {% do assets.add('https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js') %}
                {% do assets.add('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') %}
            {% endif %}

            {{ assets.js() }}
        {% endblock %}

        {% endblock head %}
    </head>

      <body>

        {# include the header + navigation #}
        {% include 'partials/header.html.twig' %}

    <div class="content grid">
        <div class="row">
            <div class="col-8-12">
                <div class="container">
                    <h2>{{ page.header.title }}</h2>
                    <div class="container_element">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="col-4-12">
                <div class="container">
                    <h2>Informácie</h2>
                    <div class="container_element info">
                        <ul>
                            <li>Suplovanie</li>
                            <li>Jedalny listok</li>
                        </ul>
                        <ul>
                            <li>Rozvrhy</li>
                            <li>Edupage</li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <h2>Kalendár udalostí</h2>
                    <div class="container_element calendar">
                        <!--
                    <div data-tockify-component="mini" data-tockify-calendar="gjhcal"></div>
                    <script data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>
                    -->
                        <!-- Important! You must include all of the following
     text to make the mini calendar work correctly!     -->
                        <!-- You can alter the following CSS to change the
     appearance and size of the calendar for your site.
     Additional calendar color settings are set under
     Options->Colors from your localendar.com account.  -->
                        <style type="text/css">
                        .localendar_container {
                            font-family: 'Montserrat', sans-serif!important;
                        }
                        
                        .localendar_container table {
                            width: 100%;
                        }
                        
                        .localendar_container table thead {
                            font-weight: bold;
                        }
                        
                        .localendar-close {
                            position: absolute;
                            top: 4px;
                            right: 4px;
                            margin: 2px;
                            border: none;
                        }
                        
                        .localendar-mini td,
                        th {
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            vertical-align: middle;
                            font-family: arial;
                            font-size: 16px;
                        }
                        
                        .localendar-label,
                        .localendar-time,
                        .localendar-title {
                            font-family: arial;
                            font-size: 12px;
                        }
                        
                        .localendar-label {
                            font-weight: bold;
                            font-size: 14px;
                        }
                        
                        .localendar-hasEvents {
                            background: orange !important;
                            cursor: pointer;
                        }
                        
                        .localendar-selected {
                            /* Uncomment to enable this feature
  background-color: yellow;
  */
                        }
                        
                        .localendar-monthName {
                            background-color: #ffffff;
                            color: rgb(51, 51, 51);
                            font-weight: bold;
                            font-family: 'Montserrat', sans-serif;
                            /* Uncomment this to hide the Month name
  display:none;
  */
                        }
                        
                        .localendar-balloon {
                            text-align: left;
                        }
                        </style>
                        <script>
                        // Other settings you can customize for your site
                        var lcPopupColor = "rgba(255, 255, 255, .9)"; /* Try other values like: rgb(230,230,230), #b0c4de, yellow, etc */
                        var lcPopupOutline = "#006600";
                        var lcPopupCornerRadius = 1; /* Set to 0 for square corners */
                        </script>
                        <script type="text/javascript" src='{{ theme_url }}/scripts/localendar.js'></script>
                        <!-- Place this line where you would like the calendar to appear (in a <div>, table, etc) -->
                        <script type="text/javascript" src='https://localendar.com/public/timoransky?style=M5&include=Y'></script>
                    </div>
                </div>
                <div class="container">
                    <h2>Kontakt</h2>
                    <div class="container_element">
                        <h3>Spojená škola</h3>
                        <p>Novohradská 3, 821 09 Bratislava
                            <br>
                            <br>Tel: 02/210 28 300 (recepcia - spojovateľka)
                            <br>Tel: 02/210 28 301 (riaditeľka)
                            <br>Tel: 02/210 28 313 (jedáleň)
                            <br>Tel: 02/210 28 XXX (kabinety cez priame klapky)
                            <br>
                            <br>E-mail: riaditel@gjh.sk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
    </footer>
    <script>
    jQuery("#M5_d_" + today()).addClass("today");
    </script>
    </body>
    {% block bottom %}{% endblock %}
</html>