<header>
    <div class="filter"></div>
    <div class="nav_bar">
        <div class="nav_bar_holder">
            <a href="{{ base_url }}"><img src="{{ theme_url }}/images/gjhlogo.png" alt=""></a>
            <div class="menu">
                <h1><a href="{{ base_url }}">{{ site.title }}</a></h1>
                <nav>      
                    <ul class="">
                        {% for page in pages.children %}
                            {% if page.visible %}
                                {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                                <li class="{{ current_page }}">
                                    <a href="{{ page.url }}">{{ page.menu }}</a>
                                        {% if page.children %}
                                            <ul class="">
                                            {% for child in page.children %}
                                                {% if child.visible %}
                                                    <li class="{{ current_page }}"><a href="{{ child.url }}">{{ child.menu }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                </li>
                            {% endif %}
                        {% endfor %}                
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>